<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/home.css' />
    <title>Home</title>
</head>
<body id="body">
    <div id="welcome">
        <h1>Welcome!</h1>
        <p>This is a website about Warren Buffett. Click on the links below to find out more about his life and work!
        </p>
        <img src="">
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </div>
</body>
</html>